.fundoCadastro {
    background-image: url("/assets/img/fundocomidasaudavel.jpg");
    background-repeat:no-repeat;
    width: 120%;
    min-height: 115vh;
    background-size: cover;
    background-position: center;
}